<div class="bg-secondary text-light ">
  <h1 class="text-center py-4 border-header-bottom m-0">Noticias Piensa Digital</h1>

  <nav class="navbar navbar-expand-lg navbar-light bg-light m-0">
    <div class="container text-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" [routerLink]="['/']" routerLinkActive="active">Inicio</a>
          <a class="nav-item nav-link" [routerLink]="['/noticias']" routerLinkActive="active">Noticias</a>
          <a class="nav-item nav-link" [routerLink]="['/nosotros']" routerLinkActive="active">Nosotros</a>
          <a class="nav-item nav-link" [routerLink]="['/contacto']" routerLinkActive="active">Contacto</a>
        </div>
      </div>
    </div>
  </nav>

</div>