<!-- <div class="col-md-8">
  <div class="card">
    <div class="card-footer">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Titulo">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="comment">Contenido</label>
        <textarea class="form-control" id="comment" rows="3"></textarea>
      </div>
    </div>
  </div>
</div> -->
<div class="col-md-8">
  <div class="card">
    <div class="card-footer">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Titulo">
      </div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="comment">Contenido</label>
        <textarea class="form-control" id="comment" rows="3"></textarea>
      </div>
      <button class="btn btn-outline-secondary col-md-12" type="button" id="button-addon2">Enviar</button>
    </div>
  </div>
</div>